body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: $font-size-h1;
}

.logoNav {
    height: $logo-height-large;
    margin-right: 10px;
    vertical-align: middle;
}

.img {
    max-width: 100%;
    height: auto;
}

.contenedorSobreNosotros, .contenedorImagenes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorSobreNosotros {
    flex-direction: column;
    padding: 50px;
    background-color: $background-light;
    text-align: center;
}

.textoSobreNosotros, .styleUbicacion {
    text-align: center;
    color: $primary-color;
    h2 {
        font-size: $font-size-h2;
    }
}

.styleSobreNosotros {
    flex: 1;
    max-width: 50%; // Reduce el tamaño máximo
    height: auto;
}


.contenedorImagenes {
    display: flex;
    flex-direction: column; // Ajusta a 'column' para pantallas pequeñas
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
