// Colores
$primary-color: #343a40;
$background-light: #f8f9fa;

// Tamaños de fuente
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;

// Tamaños de logo
$logo-height-small: 20px;
$logo-height-medium: 25px;
$logo-height-large: 30px;

// Transiciones
$button-transition: background-color 0.3s ease, transform 0.3s ease;
$button-hover-color: #328ef0;

$card-transition: transform 0.3s ease;