@import 'variables';
@import 'layout';
@import 'media-queries';

.btn {
    transition: $button-transition;

    &:hover {
        background-color: $button-hover-color; 
        transform: scale(1.05); 
    }
}

.card {
    transition: $card-transition; // Aplica la transición definida en variables

    &:hover {
        transform: translateY(-10px); // Desplaza la card hacia arriba al pasar el mouse
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); // Agrega sombra para un efecto más pronunciado
    }
}